p{font-family:HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;font-size:13px;color:#666;}*,:before,:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
#product-heading{text-align:center;padding:30px 0;}
#product-heading h2{font-family:HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;font-size:20px;color:#333;font-weight:700;text-transform:uppercase;}
.tab_container{text-align:center;z-index:0;}
.secondUl{background:#000 none repeat scroll 0 0;position:static;}
.secondUl li{margin:5px 0;}
.cols1{color:#fff;cursor:pointer;font-size:15px;padding:7px 0;}
.row li span:hover{color:#14f302;}
.cols2{float:right;margin-top:-30px;padding:5px 0;}
.cols2 span{color:#43edaf;}
.cols3{background:#000;border:1px solid #333333;color:#fff;cursor:pointer;font-size:15px;text-align:center;margin-bottom:5px;padding:7px 0;}
.cols1 .active,.cols3 .active{color:#ffb400;}
#Container img {height: 122px !important;width: 176px !important;}
#Container .mix {display: none;}
.tab_content{ margin-left:48px; height:auto;}
.portfolio-wrapper {overflow: hidden;width: 178px;}
.progressive{ background: rgba(11%, 100%, 13%, 0.4) none repeat scroll 0 0;}
.portfolio-wrapper span{border-radius:5px;color:#ffd800;font-size:17px;padding:0 7px;}
#filters li{display:inline-block;list-style:outside none none;margin-bottom:10px;margin-left:10px;margin-top:10px;width:160px;}
.row {background: #000 url("../../Images/product/GameLobby/gameMenuBg01.jpg") repeat scroll center center;float: left;width: 100%;padding: 10px;/*border: 1px solid #fff;*/border: 1px solid #333333;}
.bounsList{height:123px;position:absolute;text-align:center;width:380px;margin:110px 0 0 680px;}
.bounsList ul li{background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #000306 0%, #035541 100%) repeat scroll 0 0;border:1px solid #ececec;float:left;width:180px;height:60px;opacity:0.4;margin:3px;}
.bounsList ul li:hover{opacity:1;}
.bounsList ul li h3{color:#ffb400;font-size:14px;font-weight:100;margin-top:10px;}
.bounsList ul li span{color:#fff;font-size:18px;}
.slideTextImg h3{color:#ffd800;font-size:18px;font-weight:100;text-align:center;text-shadow:1px 1px #000;margin-top: 10px;margin-left: 50px;}
.label-text{position:absolute;width:190px;margin:2px 0 0 -7px;}
.label-text a{color:#50ffdb;font-weight:100;text-shadow:1px 1px #474747;font-size:13px;}
.label-text a:hover{color:#f78e21;text-decoration:none;}
.label-text h3{color:#333;font-size:16px;text-transform:uppercase;}
.label-text span{text-transform:uppercase;font-family:HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;font-weight:300;display:block;color:#f78e21;}
.portfolio-thumb{background:#000 none repeat scroll 0 0;position:relative;width:100%;border: 1px solid #333333;}
.hover-iner{position:relative;width:100%;height:100%;margin-left:-5px;text-decoration:none;}
.hover-iner a{background-color:#2ea400;color:#fff;height:37px;left:41%;margin-left:-18px;margin-top:-40px;position:absolute;text-align:center;top:52%;width:80px;text-decoration:none;}.hover-iner a p:hover{color:#000;}
.hover-iner a p {margin-top:10px;font-family: "微软雅黑";color:#fff;}
.hover{position:absolute;width:100%;height:100%;top:0;left:0;visibility:hidden;opacity:0;background-color:rgba(0,0,0,0.7);}
.portfolio-wrapper:hover .portfolio-thumb .hover{visibility:visible;opacity:1;transition:all .3s ease-in;}
.pagination{margin-top:20px;}
.pagination ul{margin:0;padding:0;}
.pagination li{list-style:none;display:inline-block;}
.pagination a{background-color:#444;color:#fff;display:block;font-size:18px;font-weight:100;height:50px;line-height:40px;text-align:center;width:40px;}
input, textarea {}
textarea{height:165px;max-height:180px;max-width:770px;line-height:18px;width:100%;}
.form label{margin-left:10px;color:#999;}
.info p{padding-bottom:20px;}
.info ul{margin:0;padding:0;}
.info li{list-style:none;font-family:HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;font-size:13px;color:#666;margin:10px 0;}
.info i{color:#f78e21;margin-right:10px;font-size:18px;}
.icon i{border-radius:50%;border:20px solid #f78e21;color:#f78e21;font-size:28px;width:120px;height:120px;}
footer{background-color:#f3f3f3;border-top:4px solid #f78e21;margin-top:120px;}
.hover-iner2 {position: relative;width: 100%;height: 100%;margin-left: -5px;}
.hover-iner2 a {background-color: #ecaf00;color: #fff;height: 37px;left: 41%;margin-left: -18px;margin-top: -120px;position: absolute;text-align: center;top: 52%;width: 80px; text-decoration:none;}
.hover-iner2 a p:hover{color:#000;}
.hover-iner2 a p {margin-top:10px;font-family: "微软雅黑";color:#fff;}
.portfolio-thumb span {color: #0eb000;font-size: 16px;}
@media  max-width 990px{
	.logo{text-align:center;}
	.info{margin-top:60px;text-align:center;}
	}
@media  max-width 568px{
	.logo{text-align:center;padding-bottom:60px;}
	.info{margin-top:60px;text-align:center;}
	}
@media  max-width 600px{
	body{overflow-x:hidden;}}
@media  min-width 995px{
	.hover-iner span{margin-top:160px;}
	 body{overflow-x:hidden;}
	}
