.w900 { width: 1050px;}
/*JackPots*/
.casino1{background:#000 url(../../Images/product/GameLobby/casino-bg01.jpg) no-repeat center;display: block;height:369px;position: relative;z-index:0;}
.products-post {background:#000 ;height: 722px;text-align: center;margin:0 auto;max-width: 1050px;}
.casino1-goPT {float: right;height: 65px;margin: 10px 0 0 0;position: absolute;width: 277px;z-index: 9999;}
.casino4 {margin: 420px 0 0 40px;position: absolute;z-index: 200;}
.casino4-jackpots{background:url(../../Images/product/GameLobby/JACKPORTS.png) no-repeat;width:420px;height:173px;margin: -170px 0 0 -50px;}
.bgstretcher-area { text-align: left; min-width: 1020px;position: relative;}
.bgstretcher, .bgstretcher UL, .bgstretcher UL LI {position: absolute;top: 0;left: 0;}
.bgstretcher UL, .bgstretcher UL LI {margin: 0;padding: 0;list-style: none;}
.bgstretcher {background: black;overflow: hidden;width: 100%;position: fixed;z-index: 1;_position: absolute; /*IE6 doesn't support fixed positioning*/top: 0;left: 0;min-width: 1020px;position: relative;}
/*---------------------------- casino3----------------------------*/
.overlay {height: 100%;left: 0;position: absolute;top: 0;width: 100%;}
/*热门推荐(滚动)*/
.abgne_tab ul li{display:block;}
.abgne_tab a:hover{ border-bottom: none;}
.abgne-yahoo-carousel {width: 999px;height: 230px;padding: 10px;position: relative;}
.abgne-yahoo-carousel * {margin: 0;padding: 0;}
.abgne-yahoo-carousel a img {border: none;width: 198px;}
.abgne-yahoo-carousel h3 {color: #d6d6d6;font-family: "微软雅黑";font-size: 20px;}
.abgne-yahoo-carousel .page {position: absolute;top: 12px;right: 80px;}
.abgne-yahoo-carousel .btn {height: 20px;position: absolute;}
.abgne-yahoo-carousel .btn a {width: 31px;height: 28px;float: left;text-indent: -9999px;}
.prev {background: url(../../Images/product/GameLobby/btn2.png) no-repeat scroll 0 0;margin-left: -70px;margin-top: 70px;}
.prev:hover {background: url(../../Images/product/GameLobby/btn-B2.png) no-repeat 0 0;}
.next {background: url(../../Images/product/GameLobby/btn1.png) no-repeat scroll 0 0;margin-left: 980px;margin-top: 70px;}
.next:hover {background: url(../../Images/product/GameLobby/btn-B1.png) no-repeat 0 0;}
.abgne-yahoo-carousel .frame {height: 230px;overflow: hidden;position: relative;width: 980px;}
.abgne-yahoo-carousel ul {margin-top: -10px;width: 99999px;position: absolute;}
.abgne-yahoo-carousel li {float: left;height: 200px;margin-right: 50px;position: relative;width: 198px;margin-top: 15px;}
.pagination {padding: 0.5em;text-align: center;}
.pagination a {color: #000;height: 35px;line-height: 35px;}
.pagination a {display: inline-block;padding: 0.5em;}
.pagination a {color: #000;height: 35px;line-height: 35px;}
.pagination a {display: inline-block;padding: 0.5em;}
/* 在线客服(右侧) */
#leftAll{margin:0;padding:0;list-style-type:none;font:12px/180% Arial, Helvetica, sans-serif, "新宋体";background:#ddd;position: fixed;z-index: 9999;right: 0px !important;}
#leftsead{width:131px;height:143px;position:fixed;top:360px;right:0px;}
*html #leftsead{margin-top:258px;position:absolute;top:expression(eval(document.documentElement.scrollTop));}
#leftsead li{width:131px;height:49px;}
#leftsead li img{float:right;}
#leftsead li a{height:49px;float:right;display:block;min-width:47px;max-width:131px;}
#leftsead li a .shows{display:block;}
#leftsead li a .hides{margin-right:-143px;cursor:pointer;cursor:hand;}
#leftsead li a.youhui .hides{display:none;position:absolute;right:190px;top:2px;}
#leftsead li a.gotop{display:none;}
/* 跑馬燈 */
.slideText{background:rgba(0,0,0,0.7) none repeat scroll 0 0;border:1px solid rgba(100%,100%,100%,0.2);height:9em;overflow:hidden;position:absolute;width:325px;z-index:200;margin-top:8px;margin-left: 65px;}
.slideTextImg{position:absolute;margin:10px 0 0 640px;}
.slideText ul,.slideText li{list-style:none;width:100%;margin:0;padding:0;}
.slideText ul{position:absolute;}
.slideText li{color:#fff;display:block;font-size:1em;height:1.5em;line-height:1.5em;margin-left:70px;width:305px;}
.slideText li:hover{color:#ffd800;}
.slideText li label{display:inline-block;width:80px;}
.slideTextH3 h3{color: #ffd800;font-size: 18px; font-weight: 100; margin: 250px 0 0 770px; position: absolute;text-shadow: 1px 1px #000;}

/*flot*/
#flotcontainer { width: 500px;height: 250px;text-align: center;margin: 0 auto;}
.modal1Title {height: 100px;}
.modal1Title h2{left:0;position:relative;}
.clearfix::before,.clearfix::after{content:" ";display:block;height:0;overflow:hidden;visibility:hidden;width:0;}
.abgne_tab ul li a{color:#fff;font-size:16px;line-height:20px;margin-left:11px;margin-top:15px;position:absolute;text-decoration:none;}
.abgne_tab ul{position:absolute;width:26px;z-index:300;margin:436px 0 0 1005px;}
.abgne_tab ul li {background: rgba(0, 0, 0, 0) url("../../Images/product/GameLobby/button_game02.png") no-repeat scroll center center;height: 200px;width: 40px;cursor: pointer;}
.abgne_tab ul li.active {background: rgba(0, 0, 0, 0) url("../../Images/product/GameLobby/button_game01.png") no-repeat scroll center center;z-index:100;}
.search-box input[type="submit"] {background: #fff url("../../images/product/GameLobby/search-icon.png") no-repeat scroll center center;border: 0 none;color: transparent;content: "";position: absolute;right: 3px;width: 34px;cursor: pointer;}
.search-box input[type="button"] {background: #fff url("../../images/product/GameLobby/search-icon.png") no-repeat scroll center center;border: 0 none;color: transparent;content: "";position: absolute;right: 8px;width: 34px;cursor: pointer;}
.GameText-all{height:900px;width:780px;}
#GameText-Ul{position:relative;margin:0 0 0 20px;}
#GameText-Ul li{background:rgba(0,0,0,0) none repeat scroll 0 0;height:20px;margin-bottom:15px;width:170px;}
#GameText-Ul a{font-size:12px;line-height:15px;margin-left:-1px;width:185px;}
#GameText-Ul li a:hover{color:#1add00;}
.GameText-title{border-bottom:1px solid #47351f;color:#ffdf66;float:left;font-size:16px;margin-bottom:7px;margin-left:10px;padding-bottom:10px;text-align:left;text-transform:uppercase;width:180px;}
.GameText-title h3{font-size:15px;font-weight:100;margin-left:18px;}